@charset "utf-8";

body {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  color: rgb(0, 60, 255);
}

p {
  margin-top: 20px;
  padding: 0px;
}

.slideContainer {
  width: 75%;

  margin-top: 200px;
}
.slider::after {
  content: "100";
  color: red;
  position: absolute;
  margin-left: 112px;
  margin-top: 20px;
}

.slider::before {
  content: "0";
  color: red;
  position: absolute;
  margin-left: 3px;
  margin-top: 20px;
}

.slider::-webkit-slider-thumb {
  cursor: pointer;
}

.slideContainer1 {
  margin-right: 100px;
  margin-top: 300px;
}
.slider1::after {
  content: "100";
  color: red;
  position: absolute;
  margin-left: 112px;
  margin-top: 20px;
}

.slider1::before {
  content: "0";
  color: red;
  margin-left: 3px;
  margin-top: 20px;
  position: absolute;
}

.slider1::-webkit-slider-thumb {
  cursor: pointer;
}